* {
    margin: 0;
    overflow-x: hidden;
}

.container {
    min-height: 100%;
    display: grid;
    grid-template: minmax(100px, auto) 1fr minmax(80px, auto) / 1fr;
    grid-template-areas:
    "header"
    "main"
    "footer";
}

.header {
    background-color: teal;
    grid-area: header;
    padding: 15px;
    display: grid;
    align-items: center;
    grid-template: 1fr / 1fr minmax(auto, 100px) minmax(auto, 800px) 1fr;
}

.header__logo {
    grid-column: 2/3;
}

.logo_image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.header__menu {
    grid-column: 3/4;
}

.header__list {
    display: grid;
    grid-auto-flow: column;
    justify-items: end;
}

.header__link {
    color: wheat;
    font-size: 18px;

}

.main {
    padding: 30px 15px;
}

.sidebar {
    grid-column: 2/3;
    background-color: thistle;
    padding: 30px 15px;
    margin: 0px 0px 30px 0px; 
}

.sidebar__list li {
    margin: 15px;
}

.sidebar__link {
    color: rgb(53, 38, 11);
    font-size: 20px;
}

.content {
    grid-column: 3/4;
    padding: 0px 0px 0px 30px;
}

.content__gallery {
    margin: 0px 0px 30px 0px;
}

.gallery__items {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)) ;
}

.gallery__item {
    position: relative;
    padding: 0px 0px 80% 0px;
}

.gallery__item_big {
    grid-column: span 2;
    grid-row: span 2;
}

.gallery__item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.products__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    column-gap: 30px;
    row-gap: 50px;
}

.products__item {
    display: grid;
    grid-auto-flow: row;
    grid-template: auto 1fr minmax(40px, auto) / 1fr;
}

.products__name {
    font-size: 20px;
    color: rgb(61, 190, 190);
    line-height: 30px;
    margin: 0px 0px 20px 0px;
}

.products__button {
    color: rgb(250, 250, 255);
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 30px;
    justify-self: start;
    text-decoration: none;
    padding: 10px 20px;
    background-color: cadetblue;
    border-radius: 20px;
}

.products__image{
    position: relative;
    padding: 0px 0px 80% 0px;
    margin: 0px 0px 20px 0px;
}

.products__image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer {
    display: grid;
    padding: 15px;
    background-color: tomato;
    grid-area: footer;
    align-items: center;
    grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
    color: cornsilk;
}

.footer__copy {
    grid-column: 2/3;
}

.footer__text {
    grid-column: 3/4;
}

@media (min-width: 530px) {
    .main {
        grid-area: main;
        display: grid;
        grid-template: 1fr /1fr minmax(auto, 300px) minmax(auto, 900px) 1fr;
    }
    .sidebar {
        grid-column: 2/3;
        margin: 0px ;
    }
}